@import './styles/var.css';
@import './styles/components.css';
@import './styles/pages.css';
@import './styles/forms.css';
@import './styles/lists.css';


body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}